@media only screen and (min-width: 37.5em) {

    header {
        text-align: auto;
    }

    nav {
        margin: 1rem;
        padding: .25rem;
        background-color: #114e74;
        width: auto;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul.hide {
        display: block;
    }

    nav ul li a {
        display: block;
        padding: .8rem 1rem;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        color: white;

    }

    nav ul li {
        display: inline-block;
    }
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    .highlow,
    .conditions {
        float: left;
        width: 45%;
    }

    .current {
        float: right;
        margin-right: 20%
    }



    section.forecast {
        display: block;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
    }
    /* responsive images */
    .town-article {
        width: 45%;
        margin-right: 3%;
        float: right;
        text-align: left;
    }
    .article-pic {
        width: 42%;
        float: left;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    header {
        margin: 0;
        padding: .1px;
    }

    header h1 {
        text-align: left;
        margin-left: 3.5em;
    }

    header .subheading {
        text-align: left;
        margin-left: 11em;
    }
}
